NODE_ENV=development
KNOWHUB_ENV_NAME=local

LOCAL_API_BASE_URL=http://localhost:3001
WEB_BASE_URL=http://localhost:3000

LOCAL_AI_PROVIDER=ollama
ENABLE_EXTERNAL_AI=false
SHARED_APP_SECRET=__GENERATE_SECRET__
